<main class="main">
    <div class="p-2">
        <img class="margin-auto logo" src="../../../../../../assets/images/logo-black.png">
    </div>
    <div class="container">
        <section class="wrapper">
            <div class="heading">
                <h1 class="text text-large">{{language.recoveryTitle}}</h1>
                <p class="text text-normal">{{language.recoveryText}}
                </p>
            </div>
            <form [formGroup]="registerForm" name="signin" class="form">
                <div class="input-control">
                    <span class="show-password-icon"
                        (click)="showHidePassword ? showHidePassword = false : showHidePassword = true"
                        class="fa fa-{{showHidePassword ? 'eye-slash' : 'eye'}}"></span>
                    <input type="{{!showHidePassword ? 'password': 'text'}}" formControlName="password" name="password"
                        id="password" class="input-field" placeholder="{{language.recoveryPassword}}">
                    <span class="text-danger"
                        *ngIf="(registerFormControl.password.touched || submitted) && registerFormControl.password.errors?.required">
                        {{language.loginPasswordRequired}}
                    </span>
                </div>
                <div class="input-control">
                    <span class="show-password-icon"
                        (click)="showHidePassword ? showHidePassword = false : showHidePassword = true"
                        class="fa fa-{{showHidePassword ? 'eye-slash' : 'eye'}}"></span>
                    <input type="{{!showHidePassword ? 'password': 'text'}}" formControlName="confirmPassword"
                        name="repetPassword" id="repetPassword" class="input-field"
                        placeholder="{{language.recoveryRepeatPassword}}">
                    <span class="text-danger"
                        *ngIf="(registerFormControl.confirmPassword.touched || submitted) && registerFormControl.confirmPassword.errors?.required">
                        {{language.loginConfirmPasswordRequired}}
                    </span>
                    <span class="text-danger"
                        *ngIf="registerFormControl.confirmPassword.touched && registerFormControl.confirmPassword.errors?.passwordMismatch">
                        {{language.loginPasswordNotMatch}}
                    </span>
                </div>
                <div class="required-letter-info m-4">
                    <span class="{{registerFormControl.password.value.length >= 8 ? 'text-success' : ''}}">
                        <app-mat-icon [icon]="'task_alt'"></app-mat-icon>
                        {{language.loginPasswordRequirementsMinimumCharacters}}
                    </span>
                    <span class="{{containsUppercase(registerFormControl.password.value) ? 'text-success' : ''}}">
                        <app-mat-icon [icon]="'task_alt'"></app-mat-icon>
                        {{language.loginPasswordRequirementsUppercase}}
                    </span>
                    <span class="{{containsLowercase(registerFormControl.password.value) ? 'text-success' : ''}}">
                        <app-mat-icon [icon]="'task_alt'"></app-mat-icon>
                        {{language.loginPasswordRequirementsLowercase}}
                    </span>
                    <span class="{{containsNumber(registerFormControl.password.value) ? 'text-success' : ''}}">
                        <app-mat-icon [icon]="'task_alt'"></app-mat-icon>
                        {{language.loginPasswordRequirementsNumber}}
                    </span>
                </div>
                <div class="input-control">
                    <button class="btn border"
                        (click)="recoveryPassword()">{{language.recoveryRecoveryPassword}}</button>
                </div>
            </form>
        </section>
    </div>
</main>