<footer class="footer font2 {{class}}">
    <div class="footer-bottom d-sm-flex align-items-center">
        <div class="footer-left">
            <!-- <span class="footer-copyright">KaarKg eCommerce. © {{year}}. {{language.footerAllRightsReserved}}. {{language.footerPoweredBy}} <a href="https://bci.social" target="_blank">BCI GmBH</a></span> -->
            <span class="footer-copyright">{{language.footerText}}</span>
            <span class="footer-poweredby"> {{language.footerPoweredBy}} <a href="{{language.footerPoweredByLink}}"
                    target="_blank">{{language.footerPoweredByLinkText}}</a></span>
        </div>

        <div class="footer-right ml-auto mt-1 mt-sm-0 hidden-xs">
            <div class="payment-icons mr-0">
                <span class="payment-icon visa"
                    style="background-image: url(assets/images/payments/payment-visa.webp)"></span>
                <span class="payment-icon paypal"
                    style="background-image: url(assets/images/payments/payment-mastercard.webp)"></span>
                <span class="payment-icon stripe"
                    style="background-image: url(assets/images/payments/payment-stripe.png)"></span>
                <span class="payment-icon verisign"
                    style="background-image:  url(assets/images/payments/payment-maestro.png)"></span>
                <span class="payment-icon verisign"
                    style="background-image:  url(assets/images/payments/payment-american.png)"></span>
                <span class="payment-icon verisign"
                    style="background-image:  url(assets/images/payments/payment-discover.png)"></span>
            </div>
        </div>
    </div>
    <!-- End .footer-bottom -->
</footer>