@media (max-width: 768px) {
  .mobile-header {
    position: fixed;
    z-index: 1051;
    top: 0px;
    background: #fff;
    width: 100%;
    box-shadow: 0 0 0.5em rgba(0, 0, 0, 0.5);
  }
}

@media (min-width: 769px) {
  .logo-mobile {
    display: none;
  }
}

body {
  overflow: hidden;
}

.mobile-navigation.opened {
  transform: none;
  position: fixed;
  display: block;
}

.mobile-navigation {
  padding: 3rem 2rem 2rem 2rem;
  display: none;
  top: 0;
  bottom: 0;
  left: 0;
  width: 300px;
  margin: 0;
  transition: transform left 0.2s;
  background-color: #fff;
  z-index: 1050;
  border: none;
  border-radius: 0;
  box-shadow: 0 5px 8px rgba(0, 0, 0, 0.15);
  transition: 0.3s;
  overflow: scroll;
}

.dropdown-cart-action a {
  width: 100%;
}

.dropdown-arrow .badge-circle {
  left: 43px !important;
}

.header {
  transition: all 0.25s;
}

.fa-user-circle-o {
  font-size: 32px !important;
  margin-top: 10px;
  margin-left: 5px;
  color: var(--second);
}

.e-dropdown-btn .e-caret,
.e-dropdown-btn.e-btn .e-caret {
  margin-top: 10px !important;
}

.logo-mobile img {
  width: 65px;
}
