<body *ngIf="language">
    <div class="page-wrapper">
        <header class="header {{mobileHeader}}">
            <app-header-top></app-header-top>
            <!-- End .header-top -->
            <div class="sticky-wrapper">
                <div class="header-middle sticky-header" data-sticky-options="{'mobile': true}">
                    <div class="container-fluid">
                        <div class="header-left justify-content-lg-center">
                            <button class="mobile-menu-toggler text-primary mr-2" type="button"
                                (click)="mobileNavigation = 'opened'">
                                <i class="fas fa-bars"></i>
                            </button>
                            <a routerLink="./" class="logo hidden-xs">
                                <img src="assets/images/logo-black.png" class="w-100" width="111" height="44"
                                    alt="KaarKg Logo">
                            </a>

                            <a routerLink="./" class="logo-mobile">
                                <img src="assets/images/logo-sm.png" width="111" height="44"
                                    alt="KaarKg Logo">
                            </a>
                        </div>
                        <!-- End .header-left -->

                        <div class="header-right w-lg-max">
                            <div
                                class="header-icon header-search header-search-inline header-search-category w-lg-max text-right mt-0 {{searchInput}}">
                                <a (click)="searchInput === '' ? searchInput = 'show' : searchInput = ''"
                                    class="search-toggle" role="button"><app-mat-icon
                                        class="home-action-button display-flex" icon="search"></app-mat-icon></a>
                                <form method="get">
                                    <div class="header-search-wrapper mr-1 {{searchInput}}">
                                        <input type="search" class="form-control" name="q" id="q"
                                            placeholder="{{language.homeSearchPlaceholder}}"
                                            (input)="onSearchChange($event)">
                                        <!-- End .select-custom -->
                                        <button class="btn" type="submit"><mat-icon>search</mat-icon></button>
                                    </div>
                                    <!-- End .header-search-wrapper -->
                                </form>
                            </div>
                            <!-- End .header-search -->

                            <div (click)="showFavorite()"
                                class="header-contact header-wishlist d-lg-flex pr-sm-4 pr-2 ml-2">
                                <a class="header-icon mr-0">
                                    <app-mat-icon class="home-action-button display-flex"
                                        icon="favorite"></app-mat-icon>
                                </a>
                                <h6 class="text-capitalize">
                                    <span>{{language.homeFavorites}}</span><a>{{language.homeWishlist}}</a>
                                </h6>
                            </div>

                            <div *ngIf="!username"
                                class="header-contact header-login-mobile d-lg-flex pr-sm-4 mr-lg-5 ml-lg-5 pointer"
                                (click)="openLoginDialog()">
                                <a class="header-icon mr-0">
                                    <app-mat-icon class="home-action-button display-flex" icon="person"></app-mat-icon>
                                </a>
                                <h6 class="text-capitalize"><span
                                        class="ls-n-20">{{language.homeWelcome}}</span><a>{{language.homeSignInSignUp}}</a>
                                </h6>
                            </div>

                            <div class="separator"></div>

                            <div class="cart-dropdown-wrapper d-flex align-items-center pt-2 ml-lg-3 mr-lg-3 pointer"
                                (click)="showCart()">
                                <span class="cart-subtotal text-right font2 mr-3">{{language.homeShoppingCart}}
                                    <span class="cart-price d-block font2">€ {{subOfProductInCart | number:
                                        '.2'}}</span>
                                </span>

                                <div class="header-contact dropdown cart-dropdown">
                                    <a class="dropdown-arrow cart-toggle" role="button" data-toggle="dropdown"
                                        aria-haspopup="true" aria-expanded="false" data-display="static">
                                        <app-mat-icon class="home-action-button display-flex"
                                            icon="shopping_bag"></app-mat-icon>
                                        <span class=" cart-count badge-circle">{{numberOfProductInChart}}</span>
                                    </a>


                                </div>
                                <!-- End .dropdown -->
                            </div>


                            <div class="dropdown d-flex" *ngIf="username">
                                <button *ngIf="items" ejs-dropdownbutton class="background-none border-none"
                                    [items]="items" iconCss="fa fa-user-circle-o"
                                    (select)="profileIconSelectEvent($event)"></button>
                            </div>

                        </div>
                        <!-- End .header-right -->
                    </div>
                    <!-- End .container -->
                </div>
                <!-- End .header-middle -->
            </div>
        </header>
        <!-- End .header -->

        <main class="main home">
            <div class="container-fluid p-0">
                <div class="row m-0">
                    <div class="sidebar-overlay"></div>
                    <aside class="col-lg-3 sidebar-home mobile-sidebar">
                        <app-navigation></app-navigation>
                    </aside>

                    <div class="col-lg-9">
                        <!-- <app-products [searchProduct]="searchProduct"></app-products> -->
                        TEST
                        <router-outlet></router-outlet>
                    </div>

                    <app-footer></app-footer>
                </div>
            </div>


        </main>

        <!-- End .main -->



    </div>
    <!-- End .page-wrapper -->



    <div class="mobile-menu-overlay"></div>

    <a id="scroll-top" href="#top" role="button"><i class="icon-angle-up"></i></a>


    <!-- DIALOGS -->

    <!-- <ejs-dialog #loginDialog [showCloseIcon]='true' [header]="loginFormTitle" [position]="{Y: 100}" [visible]='false'
        width="450px" (close)="hideLoginDialog()" isModal="true">
        <ng-template #content>
            <app-login #login *ngIf="loginDialogShow" (closeLoginDialog)="closeLoginDialog()"
                (changeLoginFormTypeEvent)="changeLoginFormType($event)"></app-login>
        </ng-template>
    </ejs-dialog> -->

    <!-- END DIALOGS -->

    <div class="cart-overlay {{mobileNavigation}} {{searchInput != '' ? 'opened' : ''}}"></div>

    <app-right-card *ngIf="type != ''" [rightCard]="rightCard" [type]="type" (needToLoginEmitter)="needToLoginEmitter()"
        (closeCardEmitter)="closeCard()" (showQuickView)="showQuickView($event)"></app-right-card>

    <div class="mobile-navigation row {{mobileNavigation}}">
        <a (click)="closeNavigation()" class="btn-close"></a>

        <div class="dropdownmenu-wrapper custom-scrollbar">
            <app-navigation (closeNavigation)="closeNavigation()"></app-navigation>
        </div>
    </div>

    <app-cookie *ngIf="cookieMessage == ''" (cookieEmitter)="cookieEmitter()"></app-cookie>

</body>