<!-- <div class="text-center logo-img">
    <img src="./assets/images/logo-black.png">
</div> -->
<div class="outer">
    <div class="middle">
        <div class="inner">
            <!-- <img src="./assets/images/icons/payment-success.webp"> -->
            <div class="row center" style="text-align: center;" *ngIf="sessionId !== 'prepayment'">
                <div class="col col-span-8">
                    <h1 style="font-size: 2em; line-height: 1.33em; font-weight: bold;">
                        {{language.paymentSuccessPageTitle}}</h1>
                    <p style="font-size: 1.2em; line-height: 1.5em;">{{language.paymentSuccessPageInfoAboutProduct}}
                    </p>
                    <p style="font-size: 0.85em; line-height: 1.2em;">{{language.paymentSuccessPageSendDetailsToMail}}
                    </p>
                    <a class="btn btn-success"
                        href="./"><span>{{language.paymentSuccessPageContinueWithShopping}}</span></a>
                </div>
            </div>
            <div class="row center" style="text-align: center;" *ngIf="sessionId === 'prepayment'">
                <div class="col col-span-8">
                    <h1 style="font-size: 2em; line-height: 1.33em; font-weight: bold;">
                        {{language.paymentPrepaymentSuccessPageTitle}}</h1>
                    <p style="font-size: 1.2em; line-height: 1.5em;">
                        {{language.paymentPrepaymentSuccessPageInfoAboutProduct}}
                        <strong>{{sessionId}}</strong>
                    </p>
                    <p style="font-size: 0.85em; line-height: 1.2em;">
                        {{language.paymentPrepaymentSuccessPageSendDetailsToMail}}
                    </p>
                    <a class="btn btn-success"
                        href="./"><span>{{language.paymentPrepaymentSuccessPageContinueWithShopping}}</span></a>
                </div>
            </div>
            <div class="row center">
                <div class="col col-span-8"></div>
            </div>
        </div>
    </div>
</div>