.product-desc p {
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  margin: 0px;
}

.product-desc p.show {
  display: block;
}

.more-text {
  color: var(--primary) !important;
}

.not-available {
  position: absolute;
  z-index: 1;
  font-size: 14px;
  // top: 16vh;
  // left: 15vh;
}

.package {
  font-size: 16px;
  margin-left: 8px;
  font-weight: bold;
}
