.main-content {
  padding: 0 22px 0 22px;
}

.no-product {
  text-align: center;
}

.no-product img {
  width: 350px;
  margin: auto;
}

h1 {
  font-size: 15px;
}

.new-product {
  margin-right: 5px;
  margin-bottom: 2px;
}

.not-available {
  position: absolute;
  z-index: 1;
  font-size: 14px;
}

.package {
  position: absolute;
  right: 0px;
  color: #000 !important;
  font-weight: bolder;
  font-size: 10px;
}

.hover-icon {
  padding-top: 11px !important;
}