body {
    overflow-x: hidden;
  }
  .payment .res-steps-container .res-steps {
    width: 20%;
    text-align: center;
    float: left;
    cursor: pointer;
  }
  
  .payment .res-steps-container .res-steps .res-step-bar {
    -webkit-border-radius: 50% !important;
    -moz-border-radius: 50% !important;
    -ms-border-radius: 50% !important;
    border-radius: 50% !important;
    background: #0071dc;
    display: inline-block;
    height: 40px;
    width: 40px;
    margin-top: 10px;
    text-align: center;
    color: #fff;
    padding-top: 7px;
    font-size: 20px;
  }
  
  .payment .res-steps-container .res-steps .res-progress-title {
    text-align: center;
    font-size: 15px;
    padding-top: 10px;
    display: block;
  }
  
  .payment .res-steps-container .res-steps .res-progress-bar {
    height: 5px;
    background: #0071dc;
    width: 50%;
    margin: -22px 0 0 50%;
    float: left;
  }
  
  .payment .res-steps-container .res-step-two .res-progress-bar,
  .payment .res-steps-container .res-step-three .res-progress-bar,
  .payment .res-steps-container .res-step-four .res-progress-bar {
    width: 100%;
    margin-left: 0%;
  }
  
  .payment .res-steps-container .res-step-four .res-progress-bar {
    width: 50%;
    margin-right: 50%;
  }
  
  .payment .res-step-form {
    border: 1px solid #d2d2d2;
    box-shadow: 0px 6px 4px -2px silver;
    padding: 3rem;
  }
  
  .payment .res-step-form a {
    color: blue;
    text-decoration: underline;
  }
  
  .payment .res-step-form h3 {
    margin: 10px 0;
    color: #0071dc;
    font-size: 18px;
  }
  
  .payment .res-step-form .form-horizontal label {
    font-weight: normal;
  }
  
  .payment .res-form-two,
  .payment .res-form-three,
  .payment .res-form-four {
    left: 150%;
  }
  
  .payment .active .res-step-bar {
    background: #f19b20 !important;
  }
  
  .payment .active .res-progress-title {
    color: #0071dc;
  }
  
  .payment-method {
    display: flex;
    margin-bottom: 60px;
    justify-content: space-between;
  }
  
  .method {
    display: flex;
    flex-direction: column;
    width: 382px;
    height: 122px;
    padding-top: 20px;
    cursor: pointer;
    border: 1px solid transparent;
    border-radius: 2px;
    background-color: rgb(249, 249, 249);
    justify-content: center;
    align-items: center;
  }
  
  .card-logos {
    display: flex;
    width: 150px;
    justify-content: space-between;
    align-items: center;
  }
  
  .radio-input {
    margin-top: 20px;
  }
  
  input[type="radio"] {
    display: inline-block;
  }
  .input-fields {
    display: flex;
    justify-content: space-between;
  }
  
  .input-fields label {
    display: block;
    margin-bottom: 10px;
    color: #b4b4b4;
  }
  
  .shipping-action {
    display: initial;
    margin-left: 11px;
  }
  
  // button {
  //   display: inline-flex !important;
  //   align-items: center;
  // }
  
  .field input {
    margin-bottom: 15px;
  }
  
  input.e-input {
    margin-bottom: 0px !important;
  }
  
  li {
    margin-bottom: 10px;
  }
  
  .product {
    display: flex;
  }
  
  @media (max-width: 768px) {
    .product-details {
      width: 40%;
    }
  
    .res-progress-title {
      display: none !important;
    }
  }
  
  @media (min-width: 769px) {
    .product-details {
      width: 60%;
    }
  }
  
  .product-details {
    margin-left: 15px;
  }
  
  .product-title a,
  .btn-remove {
    text-decoration: initial !important;
  }
  
  .product-image {
    width: 60px;
  }
  
  .product-image img {
    width: 35px;
  }
  
  .btn-remove {
    width: 23px;
    width: 21px;
  }
  
  .empty-cart {
    text-align: center;
  }
  
  .subtotal .price {
    width: 280px;
    text-align: center;
    border-top: 1px solid lightgray;
    margin-top: 30px;
    padding-top: 15px;
  }
  
  .empty-cart img {
    width: 228px;
    margin: auto;
  }
  
  .header {
    border-bottom: 1px solid lightgray;
  }
  
  .product div {
    margin: auto;
  }
  
  table {
    border-collapse: separate;
    border-spacing: 0 1em;
  }
  