<div class="sidebar-wrapper" *ngIf="language != null">
    <div class="side-menu-wrapper text-uppercase border-0 font2">
        <h2 class="side-menu-title ls-n-10 row">{{language.navigationProdukte}}</h2>

        <nav class="side-nav">
            <ul class="menu menu-vertical with-icon sf-arrows d-block no-superfish">
                <li class="mb-1">
                    <a routerLink="/category/{{language.navigationActions}}"
                        (click)="selectNavigationItem = language.navigationActions"
                        class="{{selectNavigationItem == language.navigationActions ? 'select' : ''}} p-0"><mat-icon
                            _ngcontent-iux-c37="" role="img" aria-hidden="false"
                            class="mat-icon notranslate material-icons mat-icon-no-color"
                            data-mat-icon-type="font">percent</mat-icon>
                        {{language.navigationActions}}</a>

                </li>
                <li>
                    <a routerLink="/category/{{language.navigationNew}}"
                        (click)="selectNavigationItem = language.navigationNew"
                        class="{{selectNavigationItem == language.navigationNew ? 'select' : ''}} p-0"><mat-icon>list_alt</mat-icon>
                        {{language.navigationNew}}</a>

                </li>
            </ul>
        </nav>

        <h2 class="side-menu-title ls-n-10 row">{{language.navigationAllProducts}}</h2>

        <nav class="side-nav">
            <ul class="menu menu-vertical sf-arrows d-block no-superfish">

                <li *ngFor="let item of navigations">
                    <a *ngIf="item.subChildren.length === 0" routerLink="../../category/{{item.name}}"
                        (click)="selectNavigationItem = item.name"
                        class="{{selectNavigationItem == item.name ? 'select' : ''}}">{{item.name}}
                    </a>
                    <a *ngIf="item.subChildren.length > 0"
                        (click)="!showChildren ? showChildren = item.name : (showChildren == item.name ? showChildren = '' : showChildren = item.name)">{{item.name}}
                        <mat-icon class="menu-btn"
                            *ngIf="item.subChildren.length > 0 && (!showChildren || showChildren != item.name)">chevron_right</mat-icon>
                        <mat-icon class="menu-btn"
                            *ngIf="item.subChildren.length > 0 && showChildren == item.name">expand_more</mat-icon></a>
                    <!-- <ul *ngIf="!item.subChildren || item.subChildren.length == 0">
                        <li><a href="demo40-shop.html">{{item.name}}</a></li>
                    </ul> -->

                    <ul *ngIf="item.subChildren.length > 0" class="children {{showChildren == item.name}}">
                        <li *ngFor="let child of item.subChildren"><a routerLink="../../category/{{child.name}}"
                                (click)="selectNavigationItem = child.name"
                                class="{{selectNavigationItem == child.name ? 'select' : ''}}">{{child.name}}</a></li>
                    </ul>
                </li>
            </ul>
        </nav>

        <h2 class="side-menu-title ls-n-10"> {{language.navigationInfos}}</h2>

        <nav class="side-nav">
            <ul class="menu menu-vertical main-vertical sf-arrows d-block pb-0 no-superfish">
                <li>
                    <a routerLink="../../document/terms" target="_blank">{{language.navigationTerms}}<mat-icon
                            class="menu-btn">chevron_right</mat-icon></a>
                </li>
                <li>
                    <a routerLink="../../document/impressum" target="_blank">{{language.navigationImpressum}}<mat-icon
                            class="menu-btn">chevron_right</mat-icon></a>
                </li>
                <li>
                    <a routerLink="../../document/privacy-policy"
                        target="_blank">{{language.navigationPrivacy}}<mat-icon
                            class="menu-btn">chevron_right</mat-icon></a>
                </li>
            </ul>
        </nav>
    </div>
</div>