.cookie {
  position: fixed;
  display: inline-block;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 9999;
  color: #fff;
  box-sizing: border-box;
  width: 100%;
  background-color: var(--primary);
  margin: 0 auto;
  font-size: 16px;
}

.cookie-message {
  // display: flex;
  // justify-content: space-between;
  align-items: center;
  max-width: 1650px;
  padding: 15px 10px 0px 10px;
  margin: 0 auto;
}

.option button {
  color: #fff;
  margin: 0;
  text-decoration: none;
  font-size: 16px;
  border: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-color: transparent;
  font-weight: 600;
}

.option .not-accept {
  color: #db3737 !important;
}

.cookie-link {
  color: var(--contrast);
}
