<ejs-dialog #confirmDialogComponent content='{{language.confirmDeleteItemText}}'
    header='{{language.confirmDeleteItemTitle}}' width='450px' [showCloseIcon]='true' [visible]="false"
    [position]="{Y: 100}" isModal="true">
    <ng-template #footerTemplate>
        <div>
            <button (click)="eventClickEmitter(true)" class="btn btn-sm btn-success confirm"><span
                    class="fa fa-check"></span>
                {{language.confirmDeleteItemYes}}</button>
            <!-- <button (click)="eventClickEmitter(false)" class="btn btn-sm btn-danger"><span class="fa fa-times"></span>
                {{language.confirmDeleteItemNo}}</button> -->
        </div>
    </ng-template>
</ejs-dialog>