<div class="cart-overlay {{rightCard}}" (click)="closeCardEmitter.emit()"></div>

<div class=" right-side-card row {{rightCard}}">
    <a (click)="closeCardEmitter.emit()" class="btn-close"></a>

    <div class="dropdownmenu-wrapper custom-scrollbar">

        <h3 *ngIf="type === 'favorite'">{{language.homeFavoriteCard}}</h3>
        <h3 *ngIf="type === 'cart'">{{language.homeCartCard}}</h3>

        <p *ngIf="type === 'cart' && (!products || !products.length)">{{language.productNothingInCart}}</p>
        <p *ngIf="type === 'favorite' && (!products || !products.length)">{{language.productNothingInFavorite}}</p>

        <div class="free-text"
            *ngIf="text.dealerCartInfoText && (helpService.getAccountTypeId() === helpService.getUserTypeModel().dealer || helpService.getAccountTypeId() === helpService.getUserTypeModel().superadmin)">
            <label>
                <span>{{text.dealerCartInfoText}}</span>
            </label>
        </div>

        <div class="free-text"
            *ngIf="text.kindergardenCartInfoText && helpService.getAccountTypeId() === helpService.getUserTypeModel().kindergarden">
            <label>
                <span>{{text.kindergardenCartInfoText}}</span>
            </label>
        </div>


        <div class="dropdown-cart-products mb-2 {{products.length > 1 ? 'border-bottom pb-4' : ''}}"
            *ngFor="let item of products; let i = index">
            <div class="product">
                <div class="product-details">
                    <h5 class="product-title">
                        <a (click)="showQuickView.emit(item)">{{item.title}}</a>
                    </h5>

                    <span class="cart-product-info">
                        <span class="cart-product-qty"></span> {{item.product_number}}
                    </span>
                </div>

                <figure class="product-image-container">
                    <a class="product-image">
                        <img src="assets/images/products/{{item.image}}" alt="product" width="80" height="80">
                    </a>
                </figure>

                <a (click)="type === 'favorite' ? removeFavorite(i) : removeCart(i)"
                    class="btn-remove"><span>×</span></a>
            </div>

            <div class="text-center">
                <button *ngIf="type === 'favorite'" (click)="addToCart(item)"
                    class="btn-sm btn-success add-to-cart"><app-mat-icon icon="shopping_basket"></app-mat-icon>
                    {{language.productAddToCart}}
                </button>
                <div *ngIf="type === 'cart'" class="product-single-qty pt-4">
                    <div class="input-group bootstrap-touchspin bootstrap-touchspin-injected">
                        <span class="input-group-btn input-group-prepend"><button
                                class="btn btn-outline btn-down-icon bootstrap-touchspin-down" type="button"
                                (click)="removeQuantity(i)"></button></span><input
                            class="horizontal-quantity form-control" type="number" id="quantity" name="quantity"
                            (change)="changeQuantity(i)" [(ngModel)]="item.quantity" min="1"><span
                            class="input-group-btn input-group-append"><button
                                class="btn btn-outline btn-up-icon bootstrap-touchspin-up" type="button"
                                (click)="addQuantity(i)"></button></span>
                    </div>
                </div>

                <div *ngIf="type === 'cart'" class="total-price-per-item font-bold text-end">
                    € {{getPricePerItem(item.price, item.quantity)}}</div>
            </div>

        </div>

        <div *ngIf="type === 'cart'">

            <!--
            <div class="dropdown-cart border-top">
                <span>{{language.productSubtotal}}</span>

                <span class="cart-total-price float-right">€ {{subOfProductInCart | number: '.2'}}</span>
            </div>

            <div *ngIf="helpService.getAccountTypeId() !== helpService.getUserTypeModel().customer"
                class="dropdown-cart">
                <span>{{language.productSubtotal}}</span>

                <span class="cart-total-price float-right">€ {{subOfProductInCart | number: '.2'}}</span>
            </div> -->

            <app-payment-additional-amount *ngIf="products && products.length"
                [shippingInfo]="true"></app-payment-additional-amount>

            <div class="dropdown-cart-action">
                <!-- <a href="cart.html" class="btn btn-gray btn-block view-cart">View
                    Cart</a> -->
                <button (click)="onCheckout()" class="btn btn-dark btn-block"
                    [disabled]="!products || products.length === 0">{{language.productCheckout}}</button>
            </div>
        </div>
    </div>
</div>