<div class="cart-overlay {{rightCard}}"></div>

<div class="right-side-card row {{rightCard}}">
    <a (click)="closeCardEmitter.emit()" title="Close (Esc)" class="btn-close"></a>

    <div class="dropdownmenu-wrapper custom-scrollbar">

        <h3 *ngIf="type === 'favorite'">{{language.homeFavoriteCard}}</h3>
        <h3 *ngIf="type === 'cart'">{{language.homeCartCard}}</h3>

        <div class="dropdown-cart-products" *ngFor="let item of products; let i = index">
            <div class="product">
                <div class="product-details">
                    <h5 class="product-title">
                        <a>{{item.title}}</a>
                    </h5>

                    <span class="cart-product-info">
                        <span class="cart-product-qty"></span> {{item.product_number}}
                    </span>
                </div>

                <figure class="product-image-container">
                    <a class="product-image">
                        <img src="assets/images/products/{{item.image}}" alt="product" width="80" height="80">
                    </a>
                </figure>

                <a (click)="type === 'favorite' ? removeFavorite(i) : removeCart(i)" class="btn-remove"
                    title="Remove Product"><span>×</span></a>
            </div>

        </div>

        <div *ngIf="type === 'cart'">
            <div class="dropdown-cart-total">
                <span>{{language.productSubtotal}}</span>

                <span class="cart-total-price float-right">€ {{subOfProductInCart | number: '.2'}}</span>
            </div>

            <div class="dropdown-cart-action">
                <!-- <a href="cart.html" class="btn btn-gray btn-block view-cart">View
                    Cart</a> -->
                <button (click)="onCheckout()" class="btn btn-dark btn-block"
                    [disabled]="!products || products.length === 0">{{language.productCheckout}}</button>
            </div>
        </div>
    </div>
</div>