.payment-content {
  justify-content: space-between;
  display: flex;
  max-width: 920px;
  margin: auto;
  padding: 20px 0px;
}

.product {
  justify-content: space-between;
}

.product-details {
  margin-top: 32px;
  margin-bottom: 32px;
}

.title {
  word-break: break-word;
  font-size: 16px;
  font-weight: 500;
}

.price {
  letter-spacing: -0.03rem;
  display: block;
  font-size: 36px;
  font-weight: 600;
  color: #000;
  display: block;
}

.order-datails {
  margin-bottom: 38px;
}

.item {
  display: flex;
  font-size: 14px;
  font-weight: 500;
  color: black;
}

.item-title {
  width: 90%;
  display: inline-block;
}

.subtotal {
  padding-bottom: 16px;
  border-bottom: 1px solid #c3c3c3;
}

.shipping {
  padding-bottom: 16px;
  border-bottom: 1px solid #c3c3c3;
}

.shipping li {
  color: #c3c3c3;
}

.pay button {
  width: 100%;
  border-radius: 6px;
}

@media (min-width: 769px) {
  .product {
    padding-right: 3rem;
  }

  .payment {
    padding-left: 3rem;
  }
}
