.payment-content {
  justify-content: space-between;
  display: flex;
  max-width: 920px;
  margin: auto;
  padding: 20px 0px;
}

.product {
  justify-content: space-between;
}

.product-details {
  margin-top: 32px;
  margin-bottom: 32px;
}

.title {
  word-break: break-word;
  font-size: 16px;
  font-weight: 500;
}

.price {
  letter-spacing: -0.03rem;
  display: block;
  font-size: 36px;
  font-weight: 600;
  color: #000;
  display: block;
}

.order-datails {
  margin-bottom: 38px;
}

.item {
  display: flex;
  font-size: 14px;
  font-weight: 500;
  color: black;
}

.item-title {
  width: 100%;
  display: inline-block;
  text-align: initial;
}

.item-quantity {
  width: 10%;
  text-align: initial;
  margin-left: 6px;
}

.item-price {
  width: 40%;
  text-align: end;
}
.subtotal {
  padding-bottom: 16px;
  border-bottom: 1px solid #c3c3c3;
}

.shipping {
  padding-bottom: 16px;
}

.shipping li {
  color: #c3c3c3;
}

.pay button {
  width: 100%;
  border-radius: 6px;
}

@media (min-width: 769px) {
  .product {
    padding-right: 3rem;
  }

  .payment {
    padding-left: 3rem;
  }
}

.field input {
  margin-bottom: 0px;
  border: none;
  box-shadow: none;
  min-height: 0px;
  line-height: 0px;
}

.field input:focus-visible {
  outline: none;
}

input.e-input {
  margin-bottom: 0px !important;
}

button {
  background: var(--second);
  border-color: var(--second);
}

button:hover {
  background: var(--second-light);
  border-color: var(--second-light);
}

.header-info {
  display: flex;
  justify-content: space-around;
  border-bottom: 1px solid lightgray;
  margin-bottom: 9px;
  padding-bottom: 2px;
}

.header-title {
  width: 93%;
}

.e-input-group,
.e-input-group.e-control-wrapper {
  border: none;
  font-size: 16px;
  color: #000;
}

.e-input-group .e-input-group-icon,
.e-input-group.e-control-wrapper .e-input-group-icon {
  display: none;
}

.shipping p {
  font-size: 15px;
  margin-left: 12px;
  color: #000;
  margin-bottom: 5px;
}

.shipping-country {
  margin-left: -9px;
  margin-top: -8px;
  display: inline-block;
}

.shipping-container {
  display: flex;
  justify-content: space-between;
}