<app-loader *ngIf="loader"></app-loader>
<div class="row" *ngIf="!loader">
    <div class="product col-md-6">
        <div class="order-datails">
            <ul>
                <li class="header-info">
                    <span class="header-title"> {{language.paymentNameOfProduct}}</span>
                    <span class="item-quantity">{{language.paymentQuantity}}</span>
                    <span class="item-price">{{language.paymentSinglePrice}}</span>
                    <span class="item-price">{{language.paymentTotalPriceForItem}}</span>
                </li>
                <li class="item mb-2" *ngFor="let item of products">
                    <span class="item-title">{{item.title}}</span> X
                    <span class="item-quantity">{{item.quantity}}</span>
                    <span class="item-price" *ngIf="type  === 3">€ {{item.price | number: '.2'}}</span>
                    <span class="item-price" *ngIf="type < 3">€ {{item.neto | number: '.2'}}</span>
                    <span class="item-price" *ngIf="type  === 3">€ {{getPricePerItem(item.price, item.quantity)}}</span>
                    <span class="item-price" *ngIf="type < 3">€ {{getPricePerItem(item.neto, item.quantity)}}</span>
                </li>
            </ul>

            <!-- <ul class="subtotal">
                <li class="item">
                    <span class="item-title">{{language.checkoutShipping}}</span>
                    <span class="item-price" *ngIf="shipping > 0">€ {{shipping | number: '.2'}}</span>
                    <span class="item-price"
                        *ngIf="shipping === 0 && !shippingNotAvailable">{{language.checkoutShippingFree}}</span>
                    <span class="item-price"
                        *ngIf="shipping === 0 && shippingNotAvailable">{{language.checkoutShippingNotAvailable}}</span>
                </li>
            </ul>
            <div *ngIf="type !== helpService.getUserTypeModel().customer">
                <ul>
                    <li class="item">
                        <span class="item-title">{{language.checkoutSubtotal}}</span>
                        <span class="item-price">€ {{subtotalNeto | number: '.2'}}</span>
                    </li>
                </ul>

                <ul class="subtotal">
                    <li class="item">
                        <span class="item-title">{{language.invoiceVat}}</span>
                        <span class="item-price">€ {{vat}}</span>
                    </li>
                </ul>
            </div> -->
            <!-- <ul class="subtotal" *ngIf="type === 3">
                <li class="item">
                    <span class="item-title">{{language.invoiceVat}}</span>
                    <span class="item-price">{{language.invoiceIncludeVat}}</span>
                </li>
            </ul> -->
        </div>

        <!-- <div class="order-footer">
            <ul class="Total">
                <li class="item">
                    <span class="item-title">{{language.checkoutTotal}}</span>
                    <span class="item-price">€ {{total | number: '.2'}}</span>
                </li>
            </ul>
        </div> -->

        
        <app-payment-additional-amount (emitProperty)="emitProperty($event)" [shippingAddress]="shippingAddress"></app-payment-additional-amount>
    </div>
    <div class="payment col-md-6">
        <h4>{{language.checkoutPrepayment}}</h4>
        <div class="field mb-3 text-left" *ngIf="shippingAddress.email">
            <label for="email">{{language.checkoutEmail}}</label>
            <input name="email" [(ngModel)]="shippingAddress.email" readonly>
        </div>

        <div class="field text-left">
            <label>{{language.checkoutShippingInformation}}</label>
            <input name="firstname" placeholder="{{language.checkoutFirstname}}" [(ngModel)]="shippingAddress.firstname"
                readonly>
            <input name="lastname" placeholder="{{language.checkoutLastname}}" [(ngModel)]="shippingAddress.lastname"
                readonly>
            <ejs-combobox class="mb-1" *ngIf="countries" [id]="'country'" name="country" [dataSource]="countries"
                [fields]="{
                        text: 'name' , 'value' : 'id' }" [allowFiltering]="true"
                [(ngModel)]="shippingAddress.country_id" [placeholder]="language.checkoutCountryPlaceholder" readonly>
            </ejs-combobox>
            <input name="address" placeholder="{{language.checkoutAddress}}" [(ngModel)]="shippingAddress.address"
                readonly>
            <input name="company" placeholder="{{language.checkoutAddressTwo}}" [(ngModel)]="shippingAddress.company"
                readonly>
            <div class="row">
                <div class="col-md-6">
                    <input name="address" placeholder="{{language.checkoutZip}}" [(ngModel)]="shippingAddress.zip"
                        readonly>
                </div>
                <div class="col-md-6">
                    <input name="address" placeholder="{{language.checkoutCity}}" [(ngModel)]="shippingAddress.city"
                        readonly>
                </div>
            </div>
            <input *ngIf="shippingAddress.telephone" name="telephone" placeholder="{{language.checkoutTelephone}}" [(ngModel)]="shippingAddress.telephone"
                readonly>
        </div>

        <div class="field text-left mt-2 mb-4" *ngIf="paymentOption === language.paymentPayOptionsForMail">
            <h4 class="text-center mb-2">{{language.checkoutPaymentDetails}}</h4>
            <stripe-card #stripeCard (tokenChange)="setStripeToken($event)"
                [options]="{hidePostalCode: true}"></stripe-card>
        </div>
        <div class="pay mt-3">
            <button class="btn btn-primary"
                (click)="paymentOption === language.paymentPayOptionsForMail ? stripeCard.createToken() : pay(null)">{{language.checkoutPay}}</button>
        </div>
    </div>
</div>