<app-loader *ngIf="loader"></app-loader>
<div class="row" *ngIf="!loader">
    <div class="product col-md-6">
        <div class="order-datails">
            <ul>
                <li class="item mb-2" *ngFor="let item of products">
                    <span class="item-title">{{item.title}}</span>
                    <span class="item-price" *ngIf="type  === 3">€ {{item.price | number: '.2'}}</span>
                    <span class="item-price" *ngIf="type < 3">€ {{item.neto | number: '.2'}}</span>
                </li>
            </ul>

            <ul class="subtotal">
                <li class="item">
                    <span class="item-title">{{language.checkoutShipping}}</span>
                    <span class="item-price" *ngIf="shipping > 0">€ {{shipping | number: '.2'}}</span>
                    <span class="item-price" *ngIf="shipping === 0">{{language.checkoutShippingFree}}</span>
                </li>
            </ul>

            <ul>
                <li class="item" *ngIf="type === 3">
                    <span class="item-title">{{language.checkoutSubtotal}}</span>
                    <span class="item-price">€ {{subtotalBruto | number: '.2'}}</span>
                </li>
                <li class="item" *ngIf="type < 3">
                    <span class="item-title">{{language.checkoutSubtotal}}</span>
                    <span class="item-price">€ {{subtotalNeto | number: '.2'}}</span>
                </li>
            </ul>

            <ul class="subtotal">
                <li class="item">
                    <span class="item-title">{{language.invoiceVat}}</span>
                    <span class="item-price">€ {{vat}}</span>
                </li>
            </ul>

            <!-- <ul class="subtotal" *ngIf="type === 3">
                <li class="item">
                    <span class="item-title">{{language.invoiceVat}}</span>
                    <span class="item-price">{{language.invoiceIncludeVat}}</span>
                </li>
            </ul> -->
        </div>

        <div class="order-footer">
            <ul class="Total">
                <li class="item">
                    <span class="item-title">{{language.checkoutTotal}}</span>
                    <span class="item-price">€ {{total | number: '.2'}}</span>
                </li>
            </ul>
        </div>
    </div>
    <div class="payment col-md-6">
        <h4>{{language.checkoutPrepayment}}</h4>
        <div class="field mb-3 text-left">
            <label for="email">{{language.checkoutEmail}}</label>
            <input name="email" [(ngModel)]="shippingAddress.email">
        </div>

        <div class="field text-left">
            <label>{{language.checkoutShippingInformation}}</label>
            <input name="firstname" placeholder="{{language.checkoutFirstname}}"
                [(ngModel)]="shippingAddress.firstname">
            <input name="lastname" placeholder="{{language.checkoutLastname}}" [(ngModel)]="shippingAddress.lastname">
            <input name="address" placeholder="{{language.checkoutAddress}}" [(ngModel)]="shippingAddress.address">
            <input name="company" placeholder="{{language.checkoutAddressTwo}}" [(ngModel)]="shippingAddress.company">
            <div class="row">
                <div class="col-md-6">
                    <input name="address" placeholder="{{language.checkoutZip}}" [(ngModel)]="shippingAddress.zip">
                </div>
                <div class="col-md-6">
                    <input name="address" placeholder="{{language.checkoutCity}}" [(ngModel)]="shippingAddress.city">
                </div>
            </div>
            <input name="telephone" placeholder="{{language.checkoutTelephone}}"
                [(ngModel)]="shippingAddress.telephone">
        </div>

        <div class="pay mt-3">
            <button class="btn btn-primary" (click)="pay()">{{language.checkoutPay}}</button>
        </div>
    </div>
</div>