<div class="box-root padding-top--24 flex-flex flex-direction--column" style="flex-grow: 1; z-index: 9;">
    <div class="formbg-outer" *ngIf="type === loginFormType.login">
        <form id="stripe-login" class="mb-0">
            <div class="field padding-bottom--24">
                <label for="email">{{language.loginEmail}}</label>
                <input type="email" name="email" [(ngModel)]="user.email">
            </div>
            <div class="field padding-bottom--24">
                <div class="grid--50-50">
                    <label for="password">{{language.loginPassword}}</label>
                </div>
                <span class="show-password-icon"
                    (click)="showHidePassword ? showHidePassword = false : showHidePassword = true"
                    class="fa fa-{{showHidePassword ? 'eye-slash' : 'eye'}}"></span>
                <input type="{{!showHidePassword ? 'password': 'text'}}" name="password" [(ngModel)]="user.password">
                <div
                    class="reset-pass display-flex {{needVerification ? 'justify-content-between' : 'justify-content-end'}}">
                    <a class="resent-verification" *ngIf="needVerification"
                        (click)="resentVerificationMail()">{{language.loginResentVerificationMail}}</a>
                    <a (click)="changeLoginFormType(loginFormType.forgot)">{{language.loginForgotPasswordButton}}</a>
                </div>
            </div>
            <div class="text-center">
                <button ejs-button [isPrimary]="true" (click)="login()">{{language.loginLoginButton}}</button>
            </div>
        </form>
        <div class="footer-link padding-top--24">
            <span>{{language.loginNoHaveAccount}} <a
                    (click)="changeLoginFormType(loginFormType.signup)">{{language.loginSignUp}}</a></span>
            <div class="listing padding-top--24 padding-bottom--24 flex-flex center-center">
                <span><a routerLink="../../document/impressum" target="_blank">{{language.loginImpressum}}</a></span>
                <span><a routerLink="../../document/terms" target="_blank">{{language.loginTerms}}</a></span>
                <span><a routerLink="../../document/privacy-policy" target="_blank">{{language.loginPrivacy}}</a></span>
            </div>
        </div>
    </div>
    <div class="formbg-outer" *ngIf="type === loginFormType.signup">
        <div class="tabs">
            <label class="tab {{accountType === getUserType().customer}}"
                (click)="selectUserType(getUserType().customer)">{{language.loginCustomer}}</label>
            <label class="tab {{accountType === getUserType().dealer}}"
                (click)="selectUserType(getUserType().dealer)">{{language.loginDealer}}</label>
            <label class="tab {{accountType === getUserType().kindergarden}}"
                (click)="selectUserType(getUserType().kindergarden)">{{language.loginKindergarden}}</label>
        </div>
        <div class="free-text"
            *ngIf="accountType === getUserType().dealer || accountType === getUserType().kindergarden">
            <label *ngIf="accountType === getUserType().dealer">{{text.dealerFreeText}}</label>
            <label *ngIf="accountType === getUserType().kindergarden">{{text.kindergardenFreeText}}</label>
        </div>
        <form [formGroup]="registerForm" class="mb-0">
            <div class="field padding-bottom--24"
                *ngIf="accountType === getUserType().dealer || accountType === getUserType().kindergarden">
                <label for="text">{{language.loginCompany}}</label>
                <input formControlName="company">
            </div>
            <div class="field padding-bottom--24">
                <label for="text">{{language.loginFirstname}}</label>
                <input formControlName="firstname">
                <span class="text-danger"
                    *ngIf="(registerFormControl.firstname.touched || submitted) && registerFormControl.firstname.errors?.required">
                    {{language.loginFirstnameRequired}}
                </span>
            </div>
            <div class="field padding-bottom--24">
                <label for="text">{{language.loginLastname}}</label>
                <input formControlName="lastname">
                <span class="text-danger"
                    *ngIf="(registerFormControl.lastname.touched || submitted) && registerFormControl.lastname.errors?.required">
                    {{language.loginLastnameRequired}}
                </span>
            </div>
            <div class="field padding-bottom--24" *ngIf="accountType !== getUserType().customer">
                <label for="text">{{language.loginTelephone}}</label>
                <input formControlName="telephone">
                <span class="text-danger"
                    *ngIf="(registerFormControl.telephone.touched || submitted) && registerFormControl.telephone.errors?.required">
                    {{language.loginTelephoneRequired}}
                </span>
            </div>
            <div class="field padding-bottom--24">
                <label for="email">{{language.loginEmail}}</label>
                <input name="email" formControlName="email">
                <span class="text-danger"
                    *ngIf="(registerFormControl.email.touched || submitted) && registerFormControl.email.errors?.required">
                    {{language.loginEmailRequired}}
                </span>
                <span class="text-danger"
                    *ngIf="registerFormControl.email.touched && registerFormControl.email.errors?.email">
                    {{language.loginEmailNotValid}}
                </span>
            </div>
            <div class="field padding-bottom--24">
                <label for="confirmEmail">{{language.loginRepeatEmail}}</label>
                <input name="confirmEmail" formControlName="confirmEmail" oncopy="return false" onpaste="return false">
                <span class="text-danger"
                    *ngIf="(registerFormControl.confirmEmail.touched || submitted) && registerFormControl.confirmEmail.errors?.required">
                    {{language.loginEmailRequired}}
                </span>
                <span class="text-danger"
                    *ngIf="registerFormControl.confirmEmail.touched && registerFormControl.confirmEmail.errors?.email">
                    {{language.loginEmailNotValid}}
                </span>

                <span class="text-danger"
                    *ngIf="registerFormControl.confirmEmail.touched && registerFormControl.confirmEmail.errors?.emailMismatch">
                    {{language.loginEmailNotMatch}}
                </span>
            </div>
            <div class="field padding-bottom--24">
                <div class="grid--50-50">
                    <label for="password">{{language.loginPassword}}</label>
                </div>
                <span class="show-password-icon"
                    (click)="showHidePassword ? showHidePassword = false : showHidePassword = true"
                    class="fa fa-{{showHidePassword ? 'eye-slash' : 'eye'}}"></span>
                <input type="{{!showHidePassword ? 'password': 'text'}}" formControlName="password">
                <span class="text-danger"
                    *ngIf="(registerFormControl.password.touched || submitted) && registerFormControl.password.errors?.required">
                    {{language.loginPasswordRequired}}
                </span>
                <div class="required-letter-info">
                    <span class="{{registerFormControl.password.value.length >= 8 ? 'text-success' : ''}}">
                        <app-mat-icon [icon]="'task_alt'"></app-mat-icon>
                        {{language.loginPasswordRequirementsMinimumCharacters}}
                    </span>
                    <span class="{{containsUppercase(registerFormControl.password.value) ? 'text-success' : ''}}">
                        <app-mat-icon [icon]="'task_alt'"></app-mat-icon>
                        {{language.loginPasswordRequirementsUppercase}}
                    </span>
                    <span class="{{containsLowercase(registerFormControl.password.value) ? 'text-success' : ''}}">
                        <app-mat-icon [icon]="'task_alt'"></app-mat-icon>
                        {{language.loginPasswordRequirementsLowercase}}
                    </span>
                    <span class="{{containsNumber(registerFormControl.password.value) ? 'text-success' : ''}}">
                        <app-mat-icon [icon]="'task_alt'"></app-mat-icon> {{language.loginPasswordRequirementsNumber}}
                    </span>
                </div>
            </div>
            <div class="field padding-bottom--24">
                <div class="grid--50-50">
                    <label for="password">{{language.loginRepeatPassword}}</label>
                </div>
                <span class="show-password-icon"
                    (click)="showHidePassword ? showHidePassword = false : showHidePassword = true"
                    class="fa fa-{{showHidePassword ? 'eye-slash' : 'eye'}}"></span>
                <input type="{{!showHidePassword ? 'password': 'text'}}" formControlName="confirmPassword">
                <span class="text-danger"
                    *ngIf="(registerFormControl.confirmPassword.touched || submitted) && registerFormControl.confirmPassword.errors?.required">
                    {{language.loginConfirmPasswordRequired}}
                </span>
                <span class="text-danger"
                    *ngIf="registerFormControl.confirmPassword.touched && registerFormControl.confirmPassword.errors?.passwordMismatch">
                    {{language.loginPasswordNotMatch}}
                </span>
            </div>
            <div class="field padding-bottom--24">
                <div class="display-flex">
                    <ejs-checkbox formControlName="privacy"></ejs-checkbox>
                    <label class="allow-label terms-privacy color-blue ml-2">
                        {{
                        language.loginAgreeText }}
                        <a routerLink="/agb" target="_blank" class="signup-term-link">{{ language.loginTerms
                            }}</a>
                        {{ language.and }}
                        <a routerLink="/datenschutz" target="_blank" class="signup-term-link">{{
                            language.loginPrivacy }}</a></label>
                </div>
                <span class="text-danger"
                    *ngIf="(registerFormControl.privacy.touched || submitted) && registerFormControl.privacy.errors?.required">
                    {{language.loginNeedToAcceptPrivacy}}
                </span>
                <ejs-checkbox label="{{language.loginQuestionForNewsletter}}"
                    formControlName="newsletter"></ejs-checkbox>
            </div>
            <div class="text-center">
                <button ejs-button [isPrimary]="true" (click)="signUp()">{{language.loginSignUp}}</button>
            </div>


            <div class="footer-link padding-top--24">
                <span>{{language.loginAreYouHaveAccount}} <a
                        (click)="changeLoginFormType(loginFormType.login)">{{language.loginLoginButton}}</a></span>
                <div class="listing padding-top--24 padding-bottom--24 flex-flex center-center">
                    <span><a routerLink="../../document/impressum"
                            target="_blank">{{language.loginImpressum}}</a></span>
                    <span><a routerLink="../../document/terms" target="_blank">{{language.loginTerms}}</a></span>
                    <span><a routerLink="../../document/privacy-policy"
                            target="_blank">{{language.loginPrivacy}}</a></span>
                </div>
            </div>
        </form>
    </div>
    <div class="formbg-outer" *ngIf="type === loginFormType.forgot">
        <form id="stripe-login" class="mb-0">
            <div class="field padding-bottom--24">
                <label for="email">{{language.loginEmail}}</label>
                <input type="email" name="email" [(ngModel)]="user.email">
            </div>
            <div class="text-center">
                <button ejs-button [isPrimary]="true"
                    (click)="recoveryPassword()">{{language.loginRecoveryPasswordButton}}</button>
            </div>
        </form>
        <div class="footer-link padding-top--24">
            <span>{{language.loginNoHaveAccount}} <a
                    (click)="changeLoginFormType(loginFormType.signup)">{{language.loginSignUp}}</a></span>
            <div class="listing padding-top--24 padding-bottom--24 flex-flex center-center">
                <span><a routerLink="../../document/impressum" target="_blank">{{language.loginImpressum}}</a></span>
                <span><a routerLink="../../document/terms" target="_blank">{{language.loginTerms}}</a></span>
                <span><a routerLink="../../document/privacy-policy" target="_blank">{{language.loginPrivacy}}</a></span>
            </div>
        </div>
    </div>
</div>